.main {
  display: flex;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}


.centertest {
  /* background-image: linear-gradient(to top left, #310158a4, #000000); */
  background-color: inherit;
  justify-content: center;
  align-items: center;
  width: calc(400px, --size-divisor);
  padding: 2%;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  /* box-shadow: 0px 0px 9px #a200ffa4; */
}

.buttons {
  border-radius: var(--border-radius);
  border-color: #8c00ffa4;
  background-image: linear-gradient(to top, #440244a9, #210024);
  align-content: center;
  justify-content: center;
  position: center;
  text-emphasis-color: white;
  height: 10%;
  width: 100%;
  margin-top: 2%;
  padding: 1rem;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .buttons:hover {
    background: rgba(var(--card-rgb), 0.1);
    /* border: 1px solid rgba(var(--card-border-rgb), 0.15); */
  }

  .buttons:hover span {
    transform: translateX(4px);
  }
}



